.artBannerTitle
{
    font-weight: 700;
    font-size: 2rem;
}

.artCard
{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left:2% !important;
    margin-right:2% !important;
    background-color: var(--light-bg-secondary);
    height: 384px;
}

.artCard:hover
{
    cursor: pointer;
}

.artBannerImg
{
    width: 100%;
    height: 275px;
}
.artCardDescriiption
{
    color: var(--light-text-secondary);
    height: 12px;
}
.artCardAuthor
{
    color: var(--light-text-ternary);
}

@media only screen and (max-width:767px)
{
    .artCard
    {
        height: 390px;
    }
    .artList
    {
        justify-content: center !important;
    }
}