.boardPageListItem
{
    border-left: 3px solid var(--light-bg-secondary);
    padding-left: 2%;
}
.boardPageListItem:hover
{
    cursor: pointer;
    border-left: 3px solid var(--light-highlight-2);
    background-color: var(--light-bg-ternary);
}
.boardPageListBlock
{
    font-size: small;
    background-color: var(--light-bg-secondary);
    height: 83%;
    overflow-y: auto;
    overflow-x: auto;
    position: fixed;
}
.boardPageList
{
    cursor: pointer;
}

.boardDisplay {
    background-color: var(--light-bg-secondary);
}
.boardDisplayTitle {
    font-size: 2rem;
}
.boardDisplayAuthor
{
    color: var(--light-text-ternary);
    font-size: small;
}