.navBlock
{
    padding: 0 !important;
    background-color: var(--light-bg-primary);
}
.navBrand
{
    background: -webkit-linear-gradient(left , var(--light-highlight-1), var(--light-highlight-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin: 0 1.5rem !important;
}
.navTab
{
    cursor: pointer;
    padding: 1.1rem 1.5rem !important;
}
.navTab:hover
{
    color: var(--light-bg-primary) !important;
    background-color: var(--light-text-secondary);
    transition: 0.5s;
}
.navTabText
{
    display: block !important;
}
.navTabIcon
{
    display: none !important;
}

@media only screen and (max-width:323px)
{
    .navBrand
    {
        margin-left: 5px !important;
        margin-right: 0px !important;
    }
}
@media only screen and (max-width:415px)
{
    .navTabText
    {
        display: none !important;
    }
    .navTabIcon
    {
        display: block !important;
    }
}