.banner
{
    overflow: hidden;
}
.bannerComps
{
    text-align: center;
    /* transform: skew(-5deg , -5deg); */
}


.introHeading
{
    text-align: center;
    color: var(--light-highlight-1);
}
.featureNum
{
    position: absolute;
    right:0px;
    font-size:10em;
    font-family: fantasy;
    color:grey;
    opacity: 0.1;
}
.featureImg
{
    width: 520px;
    height: 400px;
    position: relative; 
    top: -20%;
}
.featureText
{
    width:50%
}
.featureHeading
{
    color: var(--light-highlight-2);
}
.featureBox
{
    height:350px;
    z-index: 1;
    margin-bottom: 50px;
}
@media only screen and (max-width:1200px)
{
    .featureImg
    {
        display: none;
    }
    .featureText
    {
        width:100%;
    }
    .featureBox
    {
        height:220px;
        margin-bottom:50px;
    }
    .featureNum
    {
        right: 105px;
    }
}
.controBall
{
    border-radius: 49%;
    border: 1px solid white;
    width: 100px;
    height: 100px;
}
.controCount
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controParent
{
    position: relative;
    top: 0;
    bottom: 0;
    padding: 6%;
    background: var(--light-text-primary) !important;
    color: var(--light-bg-primary);
    margin-bottom: 3%;
}
.controBox
{
    text-align: center;
}
.newStorySection
{
    background-color: var(--light-highlight-2);
    color: white;
    padding-bottom: 3em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.newStoryCard
{
    border: 0.5px dashed;
    border-radius: 30px;
}
.newStoryBannerImg
{
    width: 100%;
    height: 100%;
}
.newStoryText
{
    font-size:3em;
    color: white;
    opacity: 1;
}