.mainLoader
{
    position: fixed;
    z-index: 1;
    width: 82%;
    text-align: center;
    top: 44%
}
.mainLoaderFull
{
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 44%
}
.mainLoaderGif
{
    width: 30px;
    height: 30px;
}
.mainLoaderGifIndependent
{
    width: 30px;
    height: 30px;
}