.display {
    background-color: var(--light-bg-secondary);
}
.displayTitle {
    font-size: 2rem;
}
.displayAuthor
{
    color: var(--light-text-ternary);
    font-size: small;
}
@media only screen and (max-width:767px)
{
    .display
    {
        margin-top: 15%;
        overflow-x: auto;
    }
}
.displayActionButton
{
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-text-ternary);
    border-radius: 50%;
}