.fileListItem
{
    border-left: 3px solid var(--light-bg-secondary);
    padding-left: 2%;
}
.fileListItem:hover
{
    cursor: pointer;
    border-left: 3px solid var(--light-highlight-2);
    background-color: var(--light-bg-ternary);
}
.fileListBlock
{
    list-style-type: none;
    font-size: small;
    background-color: var(--light-bg-secondary);
    max-height: 83%;
    overflow-y: auto;
    overflow-x: auto;
    position: fixed;
}
.fileList
{
    cursor: pointer;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}
.fileListToggleBtn
{
    color: var(--light-text-ternary);
    font-weight: lighter;
    stroke-width: 1px;
    background-color: transparent;
}
.fileListToggleBtnRotate{
    transform: rotate(-200deg);
    transition: 6s;
}