.articleDisplay {
    background-color: var(--light-bg-secondary);
}
.articleDisplayTitle {
    font-size: 2rem;
}
.articleDisplayAuthor
{
    color: var(--light-text-ternary);
    font-size: small;
}
@media only screen and (max-width:767px)
{
    .articleDisplay
    {
        margin-top: 15%;
    }
}