.articleDisplay {
    background-color: var(--light-bg-secondary);
}
.articleDisplayTitle {
    font-size: 2rem;
}
.articleDisplayAuthor
{
    color: var(--light-text-ternary);
    font-size: small;
}
.articleFooter
{
    border-top: 1px solid var(--light-text-ternary);
}
.articleFooterAuthorHeader
{
    color: var(--light-text-ternary);
    font-weight: lighter;
    font-size: smaller;
}
.articleFooterAuthor
{
    font-size: x-large;
}
.articleFooterDate
{
    font-size: smaller;
}
.articleFooterAction
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.articleFooterActionButton
{
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-text-ternary);
    border-radius: 50%;
}
@media only screen and (max-width:767px)
{
    .articleDisplay
    {
        margin-top: 15%;
        overflow-x: auto;
    }
    .articleFooterAction
    {
        justify-content: left;
    }
}
